@model IEnumerable<GameSchool.Models.dbLINQ.LectureModel>

<h2>Fyrirlestrar</h2>

<div class="span3">
    @foreach (var video in Model)
    {
        <p><a href="#" class="video_link" id='video_ @video.ID' onclick="get_video(@video.ID)"> @video.Name @video.DateAdded</a></p>
    }
</div>

<div class="span7">
    <div id="video_span"></div>
</div>



<script id="comment_template" type="text/html">

    <li class ="comments" id="comment_${ID}">
        <div class="commentBody">
            <a href="http://www.pen.is"><img src='/Content/Images/Prisonmike.png' alt="Notandi" </a>
				<a href="http://www.pen.is">${UserName}</a>
				<span>${CommentText}</span>
				<div>
					<abbr title='${ CommentDate }'>${ CommentDate }</abbr>
					<a class="like" id="${ID}">Líkar þetta</a>
                    <p id="like_${ID}"></p>
				</div>
			</div>
	</li>
</script>

<script id="addComment_template" type="text/html">
  <div id="AddComment">
    <ul class="commentList">
            <li class="commentAdd">
			    <textarea id="CommentText" name="CommentText" rows="3" cols="20"></textarea>
			    <label>
				    <input id="${ID}" class="submit_comment" type="submit" value="Skrifa athugasemd" />
			    </label>
			    @Html.ValidationMessage( "CommentText" )
	        </li>
        </ul>
    </div>
</script>

<script id="video_template" type="text/html">
    <h3>${Name}</h3>
    <p>${Description}</p>
    <iframe width="420" height="315" src="${Source}" frameborder="0" allowfullscreen="allowfullscreen" id="${ID}"></iframe>
</script>

<script type="text/javascript">
    function get_video(id) {
        $.getJSON("/Student/GetLectureByID", { id: id }, function (data) {
            $("#video_template").tmpl(data).appendTo("#video_span");
            $("#addComment_template").tmpl(data).appendTo("#video_span");
        });
        $.getJSON("/Student/GetCommentsByID", { id: id }, function (data) {
            $("#comment_template").tmpl(data).insertBefore("#");
        });
    }

    $(".submit_comment").live("click", function () {
        var lecid = parseInt($(this).attr('id'));
        var param = $("#CommentText").val();
        $.post("/Student/CreateCommentForLecture", { CommentText: param, id: lecid }, function (data) {
            $(".comments").remove();
            $("#comment_template").tmpl(data).insertBefore("#AddComment");

        });
    });
</script>

<!--@foreach(var item in Model)
{
    <h3>@item.Name</h3>
    <p>@item.Description</p>
    <iframe width="420" height="315" src="@item.Source" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
}-->

