@model GameSchool.Models.ViewModels.TestViewModel

@{
    ViewBag.Title = Model.testName;
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Model.testName</legend>

            @foreach (var question in Model.m_Questions)
            {
                <div class="question">
                    <p>@question.Question</p>
                    <ul>
                        @foreach (var answer in Model.m_Answers)
                        {
                            foreach (var stuff in answer)
                            {
                                if (stuff.QuestionID == question.ID)
                                {
                                    <!--<label for="a-@question.ID">@stuff.Answer</label>-->
                                    <li><input type="radio" value="@stuff.ID" id="a-@stuff.ID"/>  @stuff.Answer</li>
                                    
                                }
                            }
                        }
                    </ul>
                </div>
             }
            
        <p>
            <input type="submit" value="Vista" />
        </p>
    </fieldset>
}

