@model  GameSchool.Models.ViewModels.NavigationViewModel

   <li class="nav-header">
        <div id="profile">
                <div id="profileimage">
                    <img src="@Model.TheImage.Source" alt="Mynd af þínu fési"/>
                    <span id="lvl">@Model.TheLevel</span>
                </div>
                 <div id="profileinfo">
                    <p>@Html.ActionLink(@Model.TheUser.m_User.Name, "ProfileManagement", "Account")</p>
                 </div>
                 <div class="demo">
                    <div id="progressbar"></div>
                 </div><!-- End demo -->
        </div>
                <progress  id="xpbar" value="@Model.TheXP" title="@Model.TheXP / 100" max="100"></progress>
   </li>

@if (Model.TheCourses.Count() == 0)
{
    <p>Engar myndir af kennurum fundust né áfangar fundust. Líklegast ertu ekki skráður í neina áfanga. Vinsamlegast sendu mail á tindur11@ru.is og biddu um að vera skráð/skráður í áfanga.</p>
}
else
{     
   <li class="nav-header">Áfangar þínir</li>
    foreach (var item in Model.TheCourses)
    {
            <li class="nav">@Html.ActionLink(item.Name, "/GetCourse/" + item.ID, "Student")</li>
    }
    
<div id="TheTeachers"> 
    <li class ="nav-header" id="YourTeachers">Kennarar þínir</li>
        @foreach (var item in Model.TeachersImages)
        {                    
            <img class="YourTeachersFace" src="@item.Source" alt="Mynd af kennaranum þínum" />                  
        }
  </div>
}