@model GameSchool.Models.ViewModels.NewsFeedViewModel
           
<p>Nýjustu fyrirlestrar</p>

<div class="tabbable">
    <ul>
    @foreach (var lectures in Model.Lectures)
    {
        <!--<li>@lectures.DateAdded: @Html.ActionLink(lectures.Name, "GetLecture/" + lectures.ID, "Student")</li>-->
        <li>@lectures.DateAdded: <a href="#tab2" data-toggle="tab">@lectures.Name</a></li>
    }
    </ul>
</div>

<p>Nýjustu verkefni</p>
<ul>
@foreach (var assignments in Model.Assignments)
{
    <li>@Html.ActionLink(assignments.Name, "GetAssignment/" + assignments.ID, "Student")</li>
}
</ul>

<p>Nýjustu tilkynningar</p>


 <li class ="comments" id="comment_${ID}">
    <div class="commentBody">
        <a href="http://www.pen.is"><img src='@Model.SourceTeacherImage' alt="Notandi" </a>
		<a href="http://www.pen.is">//todo nafn</a>
		<span>//todo texti</span>
		<div>
			<abbr>${LongCommentDate} ${ShortCommentDate}</abbr>
			<a class="like" id="${ID}">Líkar þetta</a>
            <p id="like_${ID}"></p>
		</div>
	</div>
</li>