@model GameSchool.Models.ViewModels.TestCompletedViewModel
@{
    ViewBag.Title = "TestCompleted";
}

<h2>@Model.Test.Name</h2>
<h3 id="TestCompletion">Til hamingju!  Þú hefur klárað prófið</h3>
<ul id="TestCompletionList">
    <li>Stig: @Model.Score af @Model.Test.Points mögulegum</li>
    <li>Rétt Svör: @Model.correctAnswers / @Model.numberOfQuestions</li>
</ul>

@Html.ActionLink("Tilbaka í áfanga", "GetCourse/" + Model.Test.CourseID, "Student")
