@model GameSchool.Models.dbLINQ.CourseModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<div class="span7">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">@Model.Name</a></li>
        <li><a href="#tab2" data-toggle="tab">Fyrirlestrar</a></li>
        <li><a href="#tab3" data-toggle="tab">Próf</a></li>
        <li><a href="#tab4" data-toggle="tab">Verkefni</a></li>
        <li><a href="#tab5" data-toggle="tab">Borð</a></li>
        <li><a href="#tab6" data-toggle="tab">Tilkynningar</a></li>
      </ul>
   </div>
   <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <p>@Model.Description</p>
    </div>
    <div class="tab-pane" id="tab2">
        @Html.Action("CourseLectures", "Teacher", new { courseID = Model.ID })
    </div>
    <div class="tab-pane" id="tab3">
      <p>shit</p>
    </div>
    <div class="tab-pane" id="tab4">
        <p>I hate you!</p>
    </div>
    <div class="tab-pane" id="tab5">
       @Html.Action("LevelsForCourse", "Teacher", new { courseID = Model.ID })
    </div>
    <div class="tab-pane" id="tab6">
    </div>
  </div>

</div>