@model GameSchool.Models.ViewModels.CourseView

@{
    ViewBag.Title = "GameSchool | " + Model.m_theCourse.Name;
}

<h2>@Model.m_theCourse.Name</h2>
<div class="span7">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">@Model.m_theCourse.Name</a></li>
        <li><a href="#tab2" data-toggle="tab">Fyrirlestrar</a></li>
        <li><a href="#tab3" data-toggle="tab">Próf</a></li>
        <li><a href="#tab4" data-toggle="tab">Verkefni</a></li>
        <li><a href="#tab5" data-toggle="tab">Borð</a></li>
        <li><a href="#tab6" data-toggle="tab">Tilkynningar</a></li>
      </ul>
   </div>
   <div class="tab-content">
    <div class="tab-pane active" id="tab1">
        <legend><h3 class="StudentHeadings">Áfangalýsing</h3></legend>
        <p>@Model.m_theCourse.Description</p>
    </div>
    <div class="tab-pane" id="tab2">
        <legend><h3 class="StudentHeadings">Fyrirlestrar</h3></legend>
        @Html.Action("CourseLectures", "Teacher", new { courseID = Model.m_theCourse.ID })
    </div>
    <div class="tab-pane" id="tab3">
        <legend><h3 class="StudentHeadings">Próf</h3></legend>
        @Html.Action("CourseTests", "Teacher", new { courseID  = Model.m_theCourse.ID })
    </div>
    <div class="tab-pane" id="tab4">
        <legend><h3 class="StudentHeadings">Verkefni</h3></legend>
        @Html.Action("CourseAssignments", "Teacher", new { courseID = Model.m_theCourse.ID })
    </div>
    <div class="tab-pane" id="tab5">
       <legend><h3 class="StudentHeadings">Borð</h3></legend>
       <div class="Level">
            @Html.Action("LevelsForCourse", "Teacher", new { courseID = Model.m_theCourse.ID})
        </div>
    </div>
    <div class="tab-pane" id="tab6">
        <legend><h3 class="StudentHeadings">Tilkynningar</h3></legend>
       @Html.ActionLink("Senda tilkynningu", "CreateNotification/" + Model.m_theCourse.ID, "Teacher")
    </div>
  </div>

</div>