@model GameSchool.Models.ViewModels.CourseView

@{
    ViewBag.Title = "GetCourse";
}

<h2>@Model.m_theCourse.Name</h2>

<ul style="list-style-type:none;">
    @foreach (var lvl in Model.m_theLevels)
    {   
        <li>Borð @lvl.NumberInCourse: @Html.ActionLink(lvl.Name, "/Assignment/" + lvl.ID, "Student")
        @if (Model.m_finishedLvlID.Contains(lvl.ID))
        {
            @Html.Raw(" (Klárað!)");
        }
        </li>
    }
</ul>

@Html.ActionLink("Fyrirlestrar", "GetLecturesForLevel/" + Model.m_theCourse.ID, "Student")