@model IEnumerable<GameSchool.Models.dbLINQ.aspnet_User>
           
<table>
    <caption class="UserList">Notendalisti</caption>
    <thead>
        <tr>
            <th>Nafn</th>
            <th>Kennitala</th>
            <th>Heimilisfang</th>
            <th>Sími</th>
            <th>Aðgerð</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model )
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.SSN</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>       
                <td>@Html.ActionLink( "Breyta", "EditUser/" + item.UserId , "Admin" ) </td>
            </tr>  
        }
    </tbody>
</table>

<img id="BobSaget" src ="http://www.nndb.com/people/453/000025378/bsaget2-sm.jpg" alt="Bob Saget" />